.composer
.DS_STORE
.idea
.vagrant
ansible/templates/etc/ssl
ansible/templates/home/ubuntu/bin/sync
email-output.log
export
node_modules
npm-debug.log
src/public/**/*.map
src/public/build/
src/public/js/bundle.js
src/public/css/app.css