.composer
.DS_STORE
.idea
.vagrant
ansible/playbook.retry
ansible/templates/etc/ssl
ansible/templates/home/ubuntu/bin/sync
composer.phar
email-output.log
export
node_modules
npm-debug.log
docker/mysql/sql/dump.sql
docker/mysql/sql/030-dump.sql
docker/mysql/sql/030-dump.sql.gz
