language: php
php:
  - 5.6
  - 7.0

sudo: required

cache:
  directories:
    - src/vendor
    - src/node_modules

before_install:
  - phpenv config-rm xdebug.ini

before_script:
  - cd src/
  - find app resources tests -name "*.php" ! -path '*/_ide_helper.php' -print0 | xargs -0 -n1 -P8 php -l
  - >
    if [[ $TRAVIS_PHP_VERSION =~ ^7 ]]; then
      if which nvm; then
        nvm install 6;
      else
        rm -f `which npm` `which node` || true;
        curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash - ;
        sudo apt-get install -y nodejs;
      fi
      which node;
      node -v;
      echo $PATH;
      npm install npm;
      npm install;
    fi
  - travis_retry composer install --no-interaction


script:
  - mkdir -p build/logs
  - >
    if [[ $TRAVIS_PHP_VERSION =~ ^7 ]]; then
      npm test -- --coverage;
      phpdbg -qrr vendor/bin/phpunit --coverage-clover build/logs/clover.xml;
    else
      php -d max_execution_time="1800" -d memory_limit="1G" vendor/bin/phpunit;
    fi

after_script:
  - ls -l build/logs/
  - >
    if [[ $TRAVIS_PHP_VERSION =~ ^7 ]]; then
      travis_retry php vendor/bin/coveralls -v
    fi
