body {
    padding-top: 50px;
}

.ok {
    color: green !important;
}
.error {
    color: red !important;
}
.warning {
    color: orange !important;
}

/*
 * Loader CSS
 */
.loader {
    position: relative;
    width: 80px;
    margin: 50px 50px;
}
.duo {
    height: 20px;
    width: 50px;
    background: hsla(0, 0%, 0%, 0.0);
    position: absolute;
}
.duo, .dot {
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.duo1 {
    left: 0;
    animation-name: spin;
}
.duo2 {
    left: 30px;
    animation-name: spin;
    animation-direction: reverse;
}
.dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #333;
    position: absolute;
}
.dot-a {
    left: 0px;
}
.dot-b {
    right: 0px;
}
.duo2 .dot-b {
    animation-name: onOff;
}
.duo1 .dot-a {
    opacity: 0;
    animation-name: onOff;
    animation-direction: reverse;
}
@keyframes spin {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(180deg) }
}
@keyframes onOff {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}



table.centerStatsTable {
    width: 95%;
}

.centerStatsTable th, .centerStatsTable td {
    text-align: center;
}

.centerStatsTable td {
    width: 4em;
}

.centerStatsSummaryTable th, .centerStatsSummaryTable td {
    text-align: center;
    width: 4em;
}

table.centerStatsSummaryTable {
    width: 400px;
}

table {
    empty-cells: show;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #DDDDDD;
}

.ratingsTable .points td {
    padding: 0px !important;
    margin: 0px !important;
    height: 2em;
    vertical-align: middle;
}

.meter > span {
    display: block;
    height: 100%;
    background-color: #0075b0;
    color: white;
    position: relative;
    overflow: hidden;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #DDDDDD;
}
