@media (max-width: 991px) {
    .hs {
        display: none;
    }
}

@media (min-width: 992px) {
    .hl {
        display: none;
    }
}


body {
    padding-top: 50px;
}

.ok {
    color: green !important;
}
.error {
    color: red !important;
}
.warning {
    color: orange !important;
}

.bg-green {
    background-color: #00a000 !important;
}

.bg-red {
    background-color: red !important;
}

.loader {
    position: relative;
    width: 80px;
    margin: 50px 50px;
}

.centerStatsTable th, .centerStatsTable td {
    text-align: center;
}

.centerStatsSummaryTable th, .centerStatsSummaryTable td {
    text-align: center;
    width: 4em;
}

table.centerStatsSummaryTable {
  max-width: 550px;
}

table {
    empty-cells: show;
}

td.data-point, th.data-point {
    vertical-align: middle;
    text-align: center;
}

td.border-left, th.border-left {
    border-left: 2px solid #DDD !important;
}
td.border-right, th.border-right {
    border-right: 2px solid #DDD !important;
}
td.border-top, th.border-top, tr.border-top {
    border-top: 2px solid #DDD !important;
}
td.border-bottom, th.border-bottom, tr.border-bottom {
    border-bottom: 2px solid #DDD !important;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #EEEEEE;
}

.ratingsTable .points td {
    padding: 0px !important;
    margin: 0px !important;
    height: 2em;
    vertical-align: middle;
}

.ratingsTable .meter > span {
    display: block;
    height: 100%;
    background-color: #0075b0;
    color: white;
    position: relative;
    overflow: hidden;
}

.ratingsTable .meter-zero > span {
    display: block;
    height: 100%;
    color: white;
    position: relative;
    overflow: hidden;
}


td.active > span.glyphicon {
    color: #666666;
}
td.success > span.glyphicon {
    color: #006000;
}
td.danger > span.glyphicon {
    color: #a00000;
}

div.box {
    float: left;
    min-width: 125px;
    height: 100px;

    vertical-align: middle;
    text-align: center;
    padding: 10px;

    border-style: solid;
    border-top-width: 5px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-color: #666666;
    border-top-color: #0075b0;
}

.box span.stat {
    font-size: 40pt;
    line-height: 40pt;
    color: #0075b0;
}

.box span.subStat {
    font-size: 18pt;
    line-height: 18pt;
    color: #666666;
}

.box span.description {
    color: #666666;
}

.after-box {
    clear: left;
}
