@media (max-width: 991px) {
    .hs {
        display: none;
    }

    .nav-tabs.brief-tabs .long {
         display: none;
     }

    .container-fluid {
    }
}

@media (min-width: 992px) {
    .hl {
        display: none;
    }

    .nav-tabs.brief-tabs .brief {
         display: none;
     }

     .container-fluid {
        padding-left: 55px;
     }
}

body {
    padding-top: 50px;
}

body.no-navbar{
    padding-top: 0;
}

.ok {
    color: green !important;
}
.error {
    color: red !important;
}
.warning {
    color: orange !important;
}

.bg-green {
    background-color: #00a000 !important;
}

.bg-red {
    background-color: red !important;
}

.loader {
    position: relative;
    width: 80px;
    margin: 50px 50px;
}

table.no-border, table.no-border>tbody>tr,
table.no-border>tbody>tr>th, table.no-border>tbody>tr>td {
    border-width: 0px;
    border-collapse: collapse;
}

.centerStatsTable th, .centerStatsTable td {
    text-align: center;
}

table.centerStatsSummaryTable {
    max-width: 550px;
}

.centerStatsSummaryTable th.date {
    border-top-width: 1px;
    border-left-width: 1px;
}

table.centerStatsSummaryTable > thead > tr > th,
table.centerStatsSummaryTable > tbody > tr > th,
table.centerStatsSummaryTable > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    width: 4em;
}

.centerStatsSummaryTable th.promise, .centerStatsSummaryTable td.promise {
    font-weight: bold;
    background-color: #d9edf7;
}

.centerStatsSummaryTable th.total {
    text-align: right;
}

input .centerStatsSummaryTable .actual {
    text-align: center;
}

table .live-scoreboard .centerStatsSummaryTable {
    border-width: 1px;
}

table {
    empty-cells: show;
}

td.data-point, th.data-point {
    vertical-align: middle;
    text-align: center;
}

td.border-left, th.border-left {
    border-left: 2px solid #DDD !important;
}
td.border-right, th.border-right {
    border-right: 2px solid #DDD !important;
}
td.border-top, th.border-top, tr.border-top {
    border-top: 2px solid #DDD !important;
}
td.border-bottom, th.border-bottom, tr.border-bottom {
    border-bottom: 2px solid #DDD !important;
}

td.border-left-thin, th.border-left-thin {
    border-left: 1px solid #DDD !important;
}
td.border-right-thin, th.border-right-thin {
    border-right: 1px solid #DDD !important;
}
td.border-top-thin, th.border-top-thin, tr.border-top-thin {
    border-top: 1px solid #DDD !important;
}
td.border-bottom-thin, th.border-bottom-thin, tr.border-bottom-thin {
    border-bottom: 1px solid #DDD !important;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #EEEEEE;
}

.ratingsTable .points td {
    padding: 0px !important;
    margin: 0px !important;
    height: 2em;
    vertical-align: middle;
}

.ratingsTable .meter > span {
    display: block;
    height: 100%;
    background-color: #0075b0;
    color: white;
    position: relative;
    overflow: hidden;
}

.ratingsTable .meter-zero > span {
    display: block;
    height: 100%;
    color: white;
    position: relative;
    overflow: hidden;
}


td.active > span.glyphicon {
    color: #666666;
}
td.success > span.glyphicon {
    color: #006000;
}
td.danger > span.glyphicon {
    color: #a00000;
}

div.box {
    float: left;
    min-width: 125px;
    height: 100px;

    vertical-align: middle;
    text-align: center;
    padding: 10px;

    border-style: solid;
    border-top-width: 5px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-color: #666666;
    border-top-color: #0075b0;
}

.box span.stat {
    font-size: 40pt;
    line-height: 40pt;
    color: #0075b0;
}

.box span.subStat {
    font-size: 18pt;
    line-height: 18pt;
    color: #666666;
}

.box span.description {
    color: #666666;
}

.after-box {
    clear: left;
}

#contactLink {
    display: block;
    left: -40px;
    background-color: black;
    border: none;
    outline:none;

    color: #FFFFFF;
    font-size: large;
    text-align: center;

    margin: 0;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    height: 25px;
    min-width: 110px;
    z-index: 10000;
    white-space: nowrap;
    padding: 10px 10px 35px 10px;

    top: 70%;

    background-position: right 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.navbar-btn.btn-outline {
    background-color: transparent;
    color: rgb(255, 255, 255) !important;
}

.navbar-btn.btn-circular {
    border-radius: 30px;
    padding: 8px;
    margin: 5px
}

.navbar-inverse .navbar-btn.btn-toggle {
     background-color: rgb(111, 84, 153) !important;
     border-color: rgb(111, 84, 153) !important;
     color: rgb(255, 255, 255) !important;
}

.navbar-inverse .navbar-nav>.open>a.btn-toggle,
.navbar-inverse .navbar-nav>.open>a.btn-toggle:focus,
.navbar-inverse .navbar-nav>.open>a.btn-toggle:hover {
    background-color: rgb(90, 65, 130) !important;
    border-color: rgb(111, 84, 153) !important;
    color: rgb(255, 255, 255) !important;
}

.reportLink {
    font-weight: normal;
    font-size: medium;
}

/* Live scoreboard */

.live-scoreboard-group input {
    text-align: center;
    min-width: 3.5em;
}
