@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';

// Legacy/addon CSS: Note we omit the '.css' extension so that sass will compile them in.
@import 'bower_components/jquery-loading/dist/jquery.loading.min';
@import 'node_modules/react-bootstrap-typeahead/css/Typeahead';
@import 'node_modules/react-bootstrap-typeahead/css/Token';
@import 'bower_components/datatables/media/css/dataTables.bootstrap.min';


// Custom CSS
@import './datepicker';
@import './submission';
@import './responsive';

#react-routed-flow  {
    padding-top: 10px;
}

.date-title {
    font-size: smaller;
}

.already-submitted {
    font-size: smaller;
    color: red;
}

// TODO let's integrate this
@import 'public/css/tmlpstats';
