.stage-warning {
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 1.5em;

    a {
        color: white;
        text-decoration: underline;
    }
}
