.DS_STORE
.env
.localdev
vendor
_ide_helper*
bower_components
node_modules
public/**/*.map
public/build/
public/css/app.css
public/css/main.css
public/js/bundle.js
public/js/main.js
public/js/vendor.js
public/js/commons.js
public/js/pack
public/fonts
public/mix-manifest.json
public/components
